#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  background-color: red;
  color: white;
  padding: 15px;
  border-radius: 4px;}

  #myBtn:hover {
  background-color: #555;
  }
  .w-100 {
    width: 50%!important;
    margin-left: auto;
    margin-right:auto;
;
}
